body {
    margin: 0;
    padding: 0;
    background-color: RebeccaPurple;
}

header {
  height: 100px;
  border: 1px solid black;
  padding: 5px;
}

#logo {
  height: inherit;
  width: auto;
}

#title {
  display: inline-block;
  height: inherit;
  vertical-align: top;
  font-family: 'Comic Sans MS';
}
