@import url(http://fonts.googleapis.com/css?family=Raleway);

.header{
  font-family: 'Raleway';
  font-size: 12px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  background-color: #E0E0E0;
  padding-left: 20px;
  border-bottom: 1px solid #9E9E9E;
}

.teamlogin {
  font-family: 'Raleway';
  font-size: 30px;
  position: fixed;
  top: 40%;
  left: 30%;
}

.teamlogin::after {
  content: "";
  background-color: black;
  position: fixed;
  width: 2px;
  height: 200px;
  top: 40%;
  left: 60%;
  display: block;
}
.leaderlogin{
  font-family: 'Raleway';
  font-size: 30px;
  position: fixed;
  top: 40%;
  left: 70%
}
 .inputField{
   height: 20px;
   border: solid 1px #707070;
   transition: box-shadow 0.3s, border 0.3s;
 }
