@import url(http://fonts.googleapis.com/css?family=Raleway);




.btn{
  border: none;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  width: 200px;

  color: #fff;
  background: #424242;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border: 1px solid #424242;
}

.btn:hover {
    background: transparent;
    color: black;
    border: 2px solid  black;
}


.inputField{
  width: 200px;
  height: 35px;
  font-family:inherit;
  font-size: 15px;
  border: 1px solid #424242;
  padding: 5px;
}



.teamLogin{
  font-family: 'Raleway';
  font-size: 40px;
}

.leaderLogin{
  font-family: 'Raleway';
  font-size: 40px;

}
